*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; 
}

html {
    box-sizing: border-box;
}

body {
    font-family: $tf-default-font !important;
    font-size: 13px !important;
    line-height: 1.75 !important;
    background: $tf-color-body-default !important;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
}

.tf-app {
    a {
        text-decoration: none;
        color: $tf-color-black;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $tf-color-black;
    }

    span, p, small, label, div {
        font-weight: 400;
        line-height: 1.6;
        color: $tf-color-gray;
    }

    ul {
        list-style: none;
        margin: 0;
    }

    ion-icon {
        font-size: 18px;
        color: $tf-color-gray;
    }
}