.app {
    .tf-btn, .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        font-family: $font-family-sans-serif;
        font-weight: $btn-font-weight;
        font-size: $btn-font-size;
        border: none;
        border-radius: $btn-border-radius;
        box-shadow: $btn-box-shadow;
        padding: $btn-padding-default;
        line-height: 1.2;
        user-select: none;
        position: relative;
        overflow: hidden;
        transition: all .2s ease-in-out;

        &:active {
            transform: scale(1.1);
        }
    }

    // Button Sizes
    .tf-btn-lg {
        padding: 12px 40px 12px 40px;
    }
    
    // Buttons Color
    .btn-primary {
        background-color: $tf-color-primary;
        color: $tf-color-white;
    
        .bi {
            font-size: 18px;
            color: $tf-color-white;
            margin-right: 8px;
        }
    }

    .btn-dark {
        background-color: $tf-color-black;
    }
    
    .tf-btn-warning {
        background-color: $tf-color-warning;
    }
    
    .tf-btn-info {
        background-color: $tf-color-info;
    }
    
    .tf-btn-danger {
        background-color: $tf-color-danger;
        color: $tf-color-white;

        ion-icon {
            font-size: 16px;
            color: $tf-color-white;
            margin-right: 6px;
        }
    }
    
    .btn-success {
        background-color: $tf-color-success;
        color: $tf-color-white;

        .bi {
            font-size: 18px;
            color: $tf-color-white;
            margin-right: 8px;
        }
    }
    
    .tf-btn-white {
        background-color: $tf-color-white;
    
        ion-icon {
            font-size: 24px;
            color: $tf-color-black;
            margin-right: 6px;
        }
    }
    
    .tf-btn-link {
        background-color: transparent;
        color: $tf-color-primary;
    
        &:hover {
            background-color: $tf-color-primary-contrast;
        }
    
        ion-icon {
            color: $tf-color-primary;
            margin-right: 6px;
        }
    }
    
    .tf-btn-outline-primary {
        background-color: transparent;
        border: 1px solid $tf-color-primary;
        color: $tf-color-primary;
    
        &:hover {
            background-color: $tf-color-primary-contrast;
        }
    
        ion-icon {
            font-size: 24px;
            color: $tf-color-primary;
            margin-right: 6px;
        }
    }
    
    .tf-btn-outline-white {
        background-color: transparent;
        border: 1px solid $tf-color-white;
        color: $tf-color-white;
        
        ion-icon {
            font-size: 24px;
            margin-right: 6px;
        }
    
        &:hover {
            background-color: $tf-color-white;
            color: $tf-color-primary;
        }
    }
}
