.app {
    .dropdown-menu {
        border: none;
        box-shadow: $tf-card-box-shadow;
        transform: translate(70px -37px) !important;
        margin-top: 24px !important;
    
        .dropdown-item {
            font-size: 14px;
            display: inline-flex;
            align-items: center;
    
            &:focus, &:active {
                outline: none;
                border: none;
                background-color: transparent;
            }

            .bi {
                margin-right: 10px;
            }
    
            .tf-bg-icon {
                ion-icon {
                    font-size: 18px;
                    margin-right: 0;
                }
            }
        }
    }

    .dropdown-menu-dark {
        background-color: rgba(32, 33, 35, 1);
        .dropdown-item {
            margin-bottom: 8px;
            .bi, span {
                font-weight: 500;
                color: $tf-color-icon-d;
            }
        }
    }
}
