.thumbnail-md {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.thumbnail-sm {
    width: 100%;
    height: 45px;
    object-fit: cover;
    border-radius: 6px;
}