.table {
    border: 1px solid #eee !important;
    background-color: $tf-color-white;
    box-shadow: $tf-card-box-shadow;
}

tbody, td, tfoot, th, thead, tr {
    font-size: 13px;
    white-space: nowrap;
    vertical-align: middle;
}

