// Large Laptop
@media only screen and (max-width: 1200px) {
    // Layouts: Header
    .tf-header {
        .tf-navbar {
            #sidebar-toggle {
                display: none;
            }
        }
    }

    // Components: Cards
    .tf-card {
        .card-img {
            height: 100px;
        }
    
        .card-img-overlay {
            .card-title {
                font-size: 13px;
            }
        }

        .card-body {
            .tf-profile-wrapper {
                display: grid;
                
                .tf-profile-container {
                    display: grid;
                    grid-gap: 2rem;
                    justify-items: center;

                    
                    .tf-profile-details {
                        display: grid;
                        margin-left: 0;
                        
                        .tf-profile-holder {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                        }

                        .tf-profile-details-info {
                            display: grid;
                            margin-top: 1rem;

                            .tf-profile-flex-items {
                                display: grid;
                                grid-template-columns: 10% 90%;
                            }
                        }
                    }
                }

                a {
                    margin-top: 2rem;
                }
            }
        }
    }
}

// Desktop View Mobile
@media only screen and (max-width: 992px) {
    .tf-app {
        .tf-aside {
            width: auto;
        }

        .tf-main {
            padding-left: 230px;
        }
    }
}

// iPad
@media only screen and (max-width: 768px) {
    // Abstracts: Utilities
    .tf-d-fg-center-between, .tf-d-flex-content-between{
        display: grid;
        justify-items: end;
        grid-gap: 14px;
    }

    .tf-mobile-profile-badge {
        display: block;
    }

    // Layouts: Header
    .tf-header {
        padding: 12px 0;
        .tf-navbar {
            #sidebar-toggle {
                display: block;
            }

            .tf-merchant-name {
                margin-left: 12px;
            }
        }
    }

    // Layouts: Sidebar
    .tf-app {
        .tf-main {
            padding-top: 70px;
            padding-left: 6px;
            padding-right: 6px;
        }

        .tf-aside {
            position: fixed;
            width: 40%;
            z-index: 10;
            display: none;
            animation: scale-in-hor-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            .tf-aside-menu {
                margin-top: 10px;

                .tf-aside-items {
                    a {
                        .tf-aside-chevron-down {
                            right: 35px;
                        }
                    }
                }
            }
        }
    }

    // Components: Cards
    .tf-card {
        .card-img {
            height: 100px;
        }
    
        .card-img-overlay {
            .card-title {
                font-size: 13px;
            }
        }

        .card-body {
            .tf-profile-wrapper {
                display: grid;
                
                .tf-profile-container {
                    display: grid;
                    grid-gap: 2rem;
                    justify-items: center;

                    
                    .tf-profile-details {
                        display: grid;
                        margin-left: 0;
                        
                        .tf-profile-holder {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                        }

                        .tf-profile-details-info {
                            display: grid;
                            margin-top: 1rem;

                            .tf-profile-flex-items {
                                display: grid;
                                grid-template-columns: 10% 90%;
                            }
                        }
                    }
                }

                a {
                    margin-top: 2rem;
                }
            }
        }
    }
}

// iPhone
@media only screen and (max-width: 576px) {
    // Abstracts: Utilities
    .tf-d-fg-center-between, .tf-d-flex-content-between{
        display: grid;
        grid-gap: 14px;
    }

    .tf-mobile-profile-badge {
        display: block;
    }

    // Base: Reboot
    .tf-app {
        span, p, b, label {
            font-size: 12px;
        }
    }

    // Layouts: Header
    .tf-header {
        padding: 12px 0;
        .tf-navbar {
            #sidebar-toggle {
                display: block;
            }
            .tf-merchant-name {
                margin-left: 14px;
            }
            .tf-navbar-menu {
                .tf-nav-user-wrapper {
                    display: none;
                }
            }
        }
    }

    // Layouts: Sidebar
    .tf-app {
        // Mobile Tabs
        .tf-mobile-tabs-wrapper {
            display: block;
        }

        .tf-main {
            padding-top: 60px;
            padding-left: 6px;
            padding-right: 6px;
        }

        section {
            // Container
            .container-fluid {
                padding-left: 10px;
                padding-right: 10px;
            }  
        }

        .tf-aside {
            position: fixed;
            width: 80%;
            z-index: 10;
            display: none;
            animation: scale-in-hor-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            .tf-aside-menu {
                margin-top: 10px;

                .tf-aside-items {
                    a {
                        .tf-aside-chevron-down {
                            right: 35px;
                        }
                    }
                }

                .tf-mobile-logout {
                    display: block;
                }
            }
        }
    }

    // Components: Cards
    .tf-card {
        .card-img {
            height: 100px;
        }
    
        .card-img-overlay {
            .card-title {
                font-size: 13px;
            }
        }

        .card-body {
            .tf-profile-wrapper {
                display: grid;
                
                .tf-profile-container {
                    display: grid;
                    grid-gap: 2rem;
                    justify-items: center;

                    
                    .tf-profile-details {
                        display: grid;
                        margin-left: 0;
                        
                        .tf-profile-holder {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                        }

                        .tf-profile-details-info {
                            display: grid;
                            margin-top: 1rem;

                            .tf-profile-flex-items {
                                display: grid;
                                grid-template-columns: 10% 90%;
                            }
                        }
                    }
                }

                a {
                    margin-top: 2rem;
                }
            }
        }
    }
}