// Colors
$tf-color-body-default: #edf2f7;
$tf-color-primary: #1772fb;
$tf-color-primary-darker: #065edf;
$tf-color-primary-contrast: #f1faff;
$tf-color-secondary: #dee1ec;
$tf-color-secondary-contrast:#eff1f9;
$tf-color-success: #0b8457;
$tf-color-success-contrast: #e8fff3;
$tf-color-warning: #facf5a;
$tf-color-warning-contrast: #fff8dd;
$tf-color-danger: #ff5959;
$tf-color-danger-contrast: #fff5f8;
$tf-color-info: #00d1ff;
$tf-color-black: #2d3748;
$tf-color-gray: #718096;
$tf-color-white: #ffffff;

// Font
$tf-default-font: 'Poppins', sans-serif;

// Box Shadow
$tf-card-box-shadow: 0 0 2px 0 rgba(76, 87, 125, 0.2);