.tf-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $tf-color-white;
    padding: 8px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    z-index: 9;

    .tf-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #sidebar-toggle {
            display: none;
        }

        .logo {
            width: 30px;
            margin-right: 12px;
        }

        .tf-merchant-name {
            font-size: 16px;
            font-weight: 500;
            color: $tf-color-black;
        }

        .tf-navbar-menu {
            display: flex;
            align-items: center;

            .tf-navbar-items {
                margin-left: 20px;

                .tf-nav-user {
                    display: flex;
                    align-items: center;

                    .tf-nav-user-wrapper {
                        display: grid;
                        margin-left: 14px;

                        .tf-navbar-name {
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 1;
                        }
    
                        .tf-navbar-email {
                            font-size: 10px;
                            color: $tf-color-gray;
                        }
                    }

                }
            }
        }
    }
}