section {
    .tf-section-heading {
        padding-top: 36px;
        padding-bottom: 10px;

        .tf-section-title {
            font-size: 18px;
            color: $tf-color-black;
        }
    }
}